body {
    background-color:#2C2D2D;
}

#nav-bar {
    position: absolute;
    width: 300px;
    height: 750px;
    left: 99px;
    top: 95px;
    max-height: 700px;
    background: #0C4FD1;
    border-radius: 20px;
}

.db-frame {
    position: absolute;
    width: 70%;
    min-width: 1094px;
    max-width: 1800px;
    height: 750px;
    max-height: 700px;
    left: 350px;
    top: 95px;
    background: #D9D9D9;
    border-radius: 20px;
}

.db-interface {
    position: absolute;
    width: 80%;
    min-width: 980px;
    height: 80%;
    max-height: 700px;
    left: 100px;
    top: 100px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 20px;
}

#mid-bar { 
    width: 280px;
    height: 450px;
    margin-left:0px;
    margin-top: 100px;
}

ul {
    height: 0px;
    padding: 20px;
    margin: 10px;
    text-align:justify;
    list-style-type: none;
}

#search-icon {
    width:20px;
    height: 20px;
}

.icons-top, .icons-bottom{
    width: auto;
    height: 30px;
    float: left;
   /* filter :drop-shadow(30px 20px 40px black); */
}

.tabs-top, .tabs-bottom {
    font-family: 'Inter var', sans-serif;
    position: relative;
    left:15px;
}

.tabs-top {
    font-size:x-large;
}

.icons-bottom {
    left:50px;
    bottom: 180px;
}

.tabs-bottom {
    font-size:xx-large;
}

#search-holder {
    position: relative;
    background-color:#4178E4;
    border-radius: 50px;
    border:none;
    width: 220px;
    left:10px;
}

button {
    border:none;
    background: none;
    width: 220px;
    text-align: start;
    color:white;
    border-width: 500px;
}

button:hover {
    text-shadow: 1.5px 1.5px 1.5px black;
    border-radius: 20px;
    box-shadow: 2px 2px black;
    background:#4178E4; 
    transition:box-shadow 0.2s linear;
}

::placeholder {
    color: black;
}

@media only screen and (max-height: 800px) {
    #nav-bar, .db-frame {
        height: 550px;
    }
    
    #mid-bar {
        height: 250px;
    }
}

.mid-list {
    position: relative;
    width: 270px;
    border-left:50px;
}

#doc-tab {
    background:#4178E4;
}

.end-list {
    height:38px;
    width: 280px;
}

.end-bar {
    height: 38px;
}

.icons-bottom {
    margin-top: 8px;
}

@media only screen and (max-width: 1500px) {
    .doc-type h1, .doc-client h1, .doc-date h1, .doc-status h1{
        width: 50%;
        height: 20%;
    }

    #nav-bar, .db-frame,.db-interface{
        height: 90%;
        min-height: 550px;
    }
}

.doc-client {
    left:23%;
}
.doc-date {
    left:53%;
}
.doc-status {
    left:77%;
}
.doc-type, .doc-client, .doc-date, .doc-status {
    width: 200px;
    position:absolute;
    float:left; 
    color:black;
    height: 100%;
}

h1 {
    font-size: x-large;
}

#export-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top:0px;
    left:55px;
}

#access-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top:2px;
    left:140px;
}

#export-button {
    position: absolute;
    color:black;
    width: min-content;
    top:0px;
    left:75px;
    border-style:solid;
    border-width: 1px;
    border-radius: 50px;
    background-color: white;
}

#access-button {
    position: absolute;
    color:black;
    width: min-content;
    top:0px;
    left:165px; 
    border-style:solid;
    border-width: 1px;
    border-radius: 50px;
    background-color: white;
}